<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body style="list-style-type:none;">
<div class="page-container">
	<form action="#" th:action="@{/goodss}" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品名字：</label>
				<span th:text="${goodss?.name}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品标题：</label>
				<span th:text="${goodss?.title}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品内容：</label>
				<span th:text="${goodss?.content}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品简介：</label>
			<span th:text="${goodss?.brief}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品图片：</label>
			<div th:each="image,row:${goodss?.getImages()}">
				<img th:src="'/images/'+${image}" width="5%">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">市场价格：</label>
			<span th:text="${goodss?.mprice}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品价格：</label>
			<span th:text="${goodss?.price}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品编号：</label>
			<span th:text="${goodss?.pcode}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品库存：</label>
			<span th:text="${goodss?.inventory}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品售后：</label>
			<span th:text="${goodss?.aftersales}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品上架时间：</label>
			<span th:text="${goodss?.starttime}"></span>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品下架时间：</label>
			<span th:text="${goodss?.endtime}"></span>
		</div>
	</form>
	<br>
	<div class="comment">
	<div name="LoadComments" title="加载更多评论" data-type="goodss" id="comment-number">
	<span class="word"> <span th:text="${goodss?.cmcount}">0</span> <span>条评论</span> </span>
	</div>
	<span class="goodss_id" hidden="hidden" th:text=${goodss?.id}></span>
	 <div class="wcl-list" name="comment_load_box">
	<li th:each="citem:${goodss?.comments}">
	<div class="text" th:text="${citem?.content}">评论详情。</div>
	</li>
	</div>
	<div class="commentBox">
	<form name="fm_info_cm" method="post" action="#" th:action="@{'/goodss/'+${goodss?.id}+'/comment'}">
    <textarea class="textarea" name="content"  placeholder="发表评论"></textarea><br>
    <div data-error="content"></div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sendBtn" type="button" name="comment_submit">发布评论</button>
    <button class="Jformhide mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect cancelBtn" type="button">取消</button>
    </form>
    </div>
	</div>
</div>
</body>
<script src="../static/js/jquery-3.0.0.min.js" th:src="@{/js/jquery-3.0.0.min.js}"></script> 
<script src="../static/js/material.min1.js" th:src="@{/js/material.min1.js}"></script>
<script type="text/javascript">
$(document).on("click","[name=LoadComments]",function(){
    var init_JCommentUl = $(this).closest(".comment").find($("*[name='JCommentUl']")).prop("outerHTML");
    var JCommentUl = $(this).closest(".comment").find("[name='comment_load_box']");
    if($(this).hasClass("active")){//已添加过
        //JCommentUl.load("/info/"+$(this).closest(".comment").find(".info_id").text()+"/comments" + "/1");
        JCommentUl.empty();
        //JCommentUl.append(init_JCommentUl);
    }else{
        JCommentUl.load("/goodss/"+$(this).closest(".comment").find(".goodss_id").last().text()+"/comments" + "/1");
    }
    $(this).toggleClass("active");$(this).children("i").toggleClass("top");
$("[name=arrow-icon]").toggleClass("active");
});
</script>
</html>