<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<div class="page-container">
	<form action="#" th:action="@{'/goodss/'+${goodss.id}}" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品名字：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" th:value="${goodss?.name}" placeholder="" id="" name="name">
				<div data-error="name"></div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" th:value="${goodss?.title}" placeholder="" id="" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="content" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符" >[[${goodss?.content}]]</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品简介：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="brief" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符">[[${goodss?.brief}]]</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品图片：</label>
			<input class="pic" type=file multiple name="image" id="image" accept="image/jpg" onchange="javascript:setImagePreview();">
			<div id="localImag" th:each="image,row:${goodss?.getImages()}">
			<img th:src="'/images/'+${image}" width="5%">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">市场价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="mprice" id="" placeholder="" th:value="${goodss?.mprice}" class="input-text">
				元</div>
				<div data-error="mprice"></div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="price" id="" placeholder="" th:value="${goodss?.price}" class="input-text">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" th:value="${goodss?.pcode}" placeholder="" id="" name="pcode">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品库存：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" th:value="${goodss?.inventory}" placeholder="" id="" name="inventory">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">产品售后：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="aftersales" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符">[[${goodss?.aftersales}]]</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品上架时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text datetimp" th:value="${goodss?.starttime}"  placeholder="" id="datetimepicker" name="starttime">
				
			</div>
			<div data-error="starttime"></div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品下架时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text datetimp" th:value="${goodss?.endtime}"  placeholder="" id="datetimepicker2" name="endtime">
			</div>
			<div data-error="endtime"></div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" name="edit_goodss" type="button"> 提交</button>
				<button class="btn btn-default radius" type="button">取消</button>
			</div>
		</div>
	</form>
</div>
</body>
<script type="text/javascript">
//下面用于多图片上传预览功能
function setImagePreview(avalue) {
    //获取选择图片的对象
    var docObj = document.getElementById("image");
    //后期显示图片区域的对象
    var localImag = document.getElementById("localImag");
    localImag.innerHTML = "";
    //得到所有的图片文件
    var fileList = docObj.files;
    //循环遍历
    for (var i = 0; i < fileList.length; i++) {    
        //动态添加html元素        
        localImag.innerHTML += "<img id='img" + i + "'  />";
        //获取图片imgi的对象
        var imgObjPreview = document.getElementById("img"+i); 
        
        if (docObj.files && docObj.files[i]) {
            //火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '200px';
            imgObjPreview.style.height = '180px';
            //imgObjPreview.src = docObj.files[0].getAsDataURL();
            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要以下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[i]);   //获取上传图片文件的物理路径
        }
        else {
            //IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            //alert(imgSrc)
            var localImagId = document.getElementById("img" + i);
           //必须设置初始大小
            localImagId.style.width = "200px";
            localImagId.style.height = "180px";
            //图片异常的捕捉，防止用户修改后缀来伪造图片
            try {
                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch (e) {
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
    }  
    return true;
}
</script>
</html>